body{
    margin: 0px;
    
}
.inputs{
    grid-area: myArea;
    padding: 20px 30px;
    border: 1.5px solid black;
    font-weight: bold;
    font-size: 20px;
    height: 15px;
    border-radius: 5px;
}
.buttons{
    display: grid;
    /*grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px 30px;*/
    grid-template-areas: 'myArea myArea myArea .';
    grid-gap: 4px;
    padding: 3px;
  
}
.btn{
    background-color: green;
    border: none;
    padding: 20px 10px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;

}
.main{
    width: 100vw;
    height: 100vh;
}
.Calculator{
    margin: 0px auto;
    width: 484px;
    border: 1px solid black;
    border-style:solid;
}
.row{
    display: flex;
    
}
h1{
    text-align: center;
    
}

