h1{
    color: #ff0000;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 2em;
}

p{
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
}
p span{
    font-weight: bold;
}
.intro{
/*class*/
background-color: blue;
}
.text-white{
    color: white;
}


.flat-table{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    overflow: auto;
    width: auto;
    
}
th{
    background-color: green;
    padding: 15px 10px;
    font-weight: normal;
    color: white;
    font-size: 20px;
}
td{
    background-color: rgb(238,238,238);
    color: rgb(111,111,111);
    font-size: 18px;
    
}
th,td{
    border: 1px solid black;
}
h2{
    color: #ff0000;
    font-size: 1.5em;
    padding: 2px 0px 3px 0px;
    
}
.box{
    background-color: aqua;
}


    